<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Visit Mars!! Know before you go!</h1>
      <h5>{{ mars_data.news_title }}</h5>
      <h5>{{ mars_data.news_body }}</h5>
      <p>Scrape for some fun facts about Mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape!</a></p>
    </div>
    <div class = "row">
      <div class="col-md-8">
        <img src="{{ mars_data.featured_image_url }}" alt="Mars Image" width=100%>
      </div>  
      <div class="col-md-4">
        <table border="1" class="table table-striped">
          {% for key,value in mars_data.mars_facts.items() %}
            <tr>
              <th> {{ key }} </th>
              <td> {{ value }} </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    
    <div class = "row">

          {% for hemis in mars_data.hemispheres %}
            <img src="{{ hemis.img_url }}" alt="hemisphere" width: 50%>
            <h3 {{ hemis.title }} ></h3>
          {% endfor %}
    </div>
  </div>
</body>

</html>
